.cor-rosa-buser {
    color: #F11076;
}
.fundo-rosa-buser {
    background-color: #F11076;
}
.cor-branco {
    color: white;
}
.fundo-branco {
    color: white;
}
.cor-cinza-light {
    color: #ECECEC;
}
.fundo-cinza-light {
    background-color: #ECECEC;
}
.cor-cinza-claro {
    color: #DCDCDC;
}
.fundo-cinza-claro {
    background-color: #DCDCDC;
}
.cor-cinza {
    color: #969696;
}
.fundo-cinza {
    background-color: #969696;
}
.cor-cinza-escuro {
    color: #5B5B5B;
}
.fundo-cinza-escuro {
    background-color: #5B5B5B;
}