.cor-rosa-buser {
  color: #f11076 !important;
}
.fundo-rosa-buser {
  background-color: #f11076;
}
.cor-cinza-buser {
  color: #424242 !important;
}
.fundo-cinza-buser {
  background-color: #424242;
}
.cor-branco {
  color: white !important;
}
.fundo-branco {
  background-color: white;
}
.cor-cinza-light {
  color: #ececec !important;
}
.fundo-cinza-light {
  background-color: #ececec;
}
.cor-cinza-claro {
  color: #dcdcdc !important;
}
.fundo-cinza-claro {
  background-color: #dcdcdc;
}
.cor-cinza {
  color: #969696 !important;
}
.fundo-cinza {
  background-color: #969696;
}
.cor-cinza-escuro {
  color: #5b5b5b !important;
}
.fundo-cinza-escuro {
  background-color: #5b5b5b;
}
.cor-rosa-escuro {
  color: #ad0d55 !important;
}
.fundo-rosa-escuro {
  background-color: #ad0d55;
}
