.cor-rosa-buser {
    color: #F11076 !important;
}
.fundo-rosa-buser {
    background-color: #F11076;
}
.cor-branco {
    color: white !important;
}
.fundo-branco {
    background-color: white;
}
.cor-cinza-light {
    color: #ECECEC !important;
}
.fundo-cinza-light {
    background-color: #ECECEC;
}
.cor-cinza-claro {
    color: #DCDCDC !important;
}
.fundo-cinza-claro {
    background-color: #DCDCDC;
}
.cor-cinza {
    color: #969696 !important;
}
.fundo-cinza {
    background-color: #969696;
}
.cor-cinza-escuro {
    color: #5B5B5B !important;
}
.fundo-cinza-escuro {
    background-color: #5B5B5B;
}
.cor-rosa-escuro {
    color: #BA0D5B !important;
}
.fundo-rosa-escuro {
    background-color: #BA0D5B;
}